@using RentPe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<head>
    <style>
        .login-body {
            background-color: #eeeeee !important;
        }

        .loginbox {
            height: 500px;
            max-width: 400px;
            margin: 0 auto;
        }

        .btn-primary {
            background-color: #fca311 !important;
            border: 1px solid #fca311 !important;
            padding: 12px 30px;
            font-size: 18px;
        }

        .form-control {
            height: 50px;
            font-size: 16px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/template/RentPeContent/RentPeLogoMobile.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/template/AdminTemplate/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Content/template/AdminTemplate/assets/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/Content/template/AdminTemplate/assets/css/feathericon.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/template/AdminTemplate/assets/css/style.css">

    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
        <style>
        /* Custom styles */
        .form-group {
            margin-bottom: 16px;
        }

        /* Increase input size */
        .form-control {
            height: 50px;
            font-size: 16px;
        }

        /* Increase button size */
        .btn-primary {
            padding: 10px 30px;
            font-size: 18px;
        }
    </style>
</head>
<body class="login-body">
    <div class="login-wrapper">
        <div class="container-fluid">
            <div class="loginbox">
                <div class="login-right login">
                    <div class="login-right-wrap">
                        <div><img onclick="window.location.href='@Url.Action("","")'" src="~/Content/template/RentPeContent/RentPeLogoDesktop.png" class="img-fluid mx-auto d-block" alt="Responsive image"></div>
                        <br />
                        <p style="font-weight:400; font-size:25px" class="account-subtitle">WELCOME TO RENTPE</p>

                        <!-- Form -->
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input id="exampleInputEmail1" name="email" class="form-control" type="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="exampleInputPassword1" name="password" type="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        }

                        <div class="text-center dont-have">Don’t have an account? <a href="@Url.Action("Register","Account")">Register</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/template/AdminTemplate/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/Content/template/AdminTemplate/assets/js/popper.min.js"></script>
    <script src="~/Content/template/AdminTemplate/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/Content/template/AdminTemplate/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/template/AdminTemplate/assets/js/script.js"></script>

</body>
</html>
