<style>
    .nav_cat {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

        .nav_cat.show {
            max-height: 900px;
        }
</style>
<<!-- STAT SECTION ABOUT -->
<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_img scene mb-4 mb-lg-0">
                    <img src="~/Content/template/RentPeContent/about-image.png" alt="about_img" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading_s1">
                    <h2>Who We are</h2>
                </div>
                <p>RentPe is a rent-based website that offers a wide range of items available for rent. We provide convenient access to various items, including home appliances, bridal dresses, books, and more.</p>
                <p>At RentPe, we strive to make the renting process easy and hassle-free for our customers. Whether you need a specific appliance for your home, a stunning bridal dress for your special day, or a book for your leisure time, we've got you covered.</p>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION ABOUT -->
<!-- END SECTION ABOUT -->
<!-- START SECTION WHY CHOOSE -->
<div class="section bg_light_blue2 pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="heading_s1 text-center">
                    <h2>Why Choose RentPe?</h2>
                </div>
                <p class="text-center leads">At RentPe, we offer numerous advantages that make us the preferred choice for all your rental needs:</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="icon_box icon_box_style4 box_shadow1">
                    <div class="icon">
                        <i class="ti-pencil-alt"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Custom Offer Option</h5>
                        <p>Propose a custom price for the product you are interested in. We believe in ensuring a fair and personalized pricing experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="icon_box icon_box_style4 box_shadow1">
                    <div class="icon">
                        <i class="ti-layers"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Flexible Options</h5>
                        <p>We offer flexible rental options, allowing you to choose the duration and terms that best suit your needs. Rent for a day, a week, or longer - it's up to you!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="icon_box icon_box_style4 box_shadow1">
                    <div class="icon">
                        <i class="ti-email"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Email Marketing</h5>
                        <p>Stay updated with our latest offerings and promotions through our email marketing campaigns, ensuring you never miss out on the best deals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START SECTION TEAM -->
<div class="section pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="heading_s1 text-center">
                    <h2>Our Team Members</h2>
                </div>
                <p class="text-center leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="team_box team_style1">
                    <div class="team_img">
                        <img src="~/Content/template/RentPeContent/team3.png" alt="team_img2">
                        <ul class="social_icons social_style4">
                            <li><a href="https://facebook.com/MuhammadShahbazKhatri/"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Shahbaz Aziz</h5>
                            <span>Front-End Developer & Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team_box team_style1">
                    <div class="team_img">
                        <img src="~/Content/template/RentPeContent/team1.png" alt="team_img3">
                        <ul class="social_icons social_style4">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Qazi Mubin</h5>
                            <span>Full Stack Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team_box team_style1">
                    <div class="team_img">
                        <img src="~/Content/template/RentPeContent/team2.png" alt="team_img4">
                        <ul class="social_icons social_style4">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Noman Maqsood</h5>
                            <span>Database Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION TEAM -->
<!-- START SECTION TESTIMONIAL -->
<div class="section bg_redon">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="heading_s1 text-center">
                    <h2>Our Client Say!</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="testimonial_wrap testimonial_style1 carousel_slider owl-carousel owl-theme nav_style2" data-nav="true" data-dots="false" data-center="true" data-loop="true" data-autoplay="true" data-items='1'>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="assets/images/user_img1.jpg" alt="user_img1" />
                            </div>
                            <div class="author_name">
                                <h6>Lissa Castro</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="assets/images/user_img2.jpg" alt="user_img2" />
                            </div>
                            <div class="author_name">
                                <h6>Alden Smith</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="assets/images/user_img3.jpg" alt="user_img3" />
                            </div>
                            <div class="author_name">
                                <h6>Daisy Lana</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="assets/images/user_img4.jpg" alt="user_img4" />
                            </div>
                            <div class="author_name">
                                <h6>John Becker</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION TESTIMONIAL -->
<!-- START SECTION SHOP INFO -->
<div class="section pb_70">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-shipped"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Free Delivery</h5>
                        <p>Enjoy free delivery on all rental items. We ensure that your rented items are delivered to your doorstep without any additional cost.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-money-back"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>30 Day Return</h5>
                        <p>We offer a 30-day return policy, allowing you to return the rented items within 30 days if you are not satisfied with your rental experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>24/7 Support</h5>
                        <p>Our customer support team is available 24/7 to assist you with any queries or concerns you may have. We are here to ensure a smooth and enjoyable rental experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP INFO -->