@model RentPe.ViewModels.ContactUsViewModel
<style>
    .nav_cat {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

        .nav_cat.show {
            max-height: 900px;
        }
    #navCatContent {
        background-color: #fff;
        position: absolute;
        padding: 0px 0px 0;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        z-index: 99;
    }
    .section {
        padding: 60px 0;
        position: relative;
    }
</style>
<!-- START SECTION CONTACT -->
<div class="section pb_70">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="contact_wrap contact_style3">
                    <div class="contact_icon">
                        <i class="linearicons-map2"></i>
                    </div>
                    <div class="contact_text">
                        <span>Address</span>
                        <p>4th floor, Naqash Manzil, Light House, Saddar Gari Khata, Karachi, Sindh 74200</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div style="padding-bottom: 54px; padding-top: 53px;" class="contact_wrap contact_style3">

                    <div class="contact_icon">
                        <i class="linearicons-envelope-open"></i>
                    </div>
                    <div class="contact_text">
                        <span>Email Address</span>
                        <a href="mailto:info@rentpe.bsite.net">info@rentpe.bsite.net </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div style="padding-bottom: 54px; padding-top: 53px;" class="contact_wrap contact_style3">
                    <div class="contact_icon">
                        <i class="linearicons-tablet2"></i>
                    </div>
                    <div class="contact_text">
                        <span>Phone</span>
                        <p>
                            + 92 300 925 9266
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION CONTACT -->
<!-- START SECTION CONTACT -->
<div class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading_s1">
                    <h2>Get In touch</h2>
                </div>
                <p class="leads">
                    At RentPe, we believe in providing excellent Service to our Customers.

                    However, if you still require more information or assistance, feel free to contact us!
                </p>
                <div class="field_form">
                    <form id="ActionForm" name="enq">
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <input required placeholder="Enter Name *" id="first-name" class="form-control" name="Name" type="text">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <input required placeholder="Enter Email *" id="email" class="form-control" name="Email" type="email">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <input required placeholder="Enter Phone No. *" id="phone" class="form-control" name="Phone">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <input placeholder="Enter Subject" id="subject" class="form-control" name="Subject">
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <textarea required placeholder="Message *" id="description" class="form-control" name="Message" rows="4"></textarea>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button type="button" title="Submit Your Message!" class="btn btn-fill-out" id="submitButton" name="submit" value="Submit">Send Message</button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div id="alert-msg" class="alert-msg text-center"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 pt-2 pt-lg-0 mt-4 mt-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d511.9591900791015!2d67.0109456801053!3d24.855345238485036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33fcf49adc9db%3A0x2ca018c50f7224d8!2sMubixSolution!5e0!3m2!1sen!2s!4v1687849825647!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>


<script>
    $("#submitButton").click(function () {
        var button = document.getElementById('submitButton');
        button.classList.add('loader');
        button.disabled = true;
        $.ajax({
            url: '@Url.Action("ContactUs", "Home")',
            type: "POST",
            data: $("#ActionForm").serialize()
        })
            .done(function (response) {
                if (response.success) {
                    alert("Saved");
                    location.reload();
                } else {
                    $(".errorDiv").html(response.Message);
                }
            })
            .fail(function (xhr, status, error) {
                console.error(xhr.responseText);
            });
    });

</script>
<!-- END SECTION CONTACT -->