
@{
    ViewBag.Title = "AdPost";
}

<head>
    <style>
        .nav_cat {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
        }

            .nav_cat.show {
                max-height: 900px;
            }
    </style>
</head>

<div class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading_s1">
                    <br />
                    <h1 class="text-center">Create Ad</h1>
                </div>
                <p class="leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                <div class="field_form">
                    <form method="post" name="enq">
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="user-name">User Name *</label>
                                <input required placeholder="Enter Name *" id="user-name" class="form-control" name="UserName" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="contact">Contact *</label>
                                <input required placeholder="Enter Contact *" id="contact" class="form-control" name="Contact" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="privacy">Privacy</label>
                                <input id="privacy" class="form-control" name="Privacy" type="checkbox">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="item-name">Item Name *</label>
                                <input required placeholder="Enter Item Name *" id="item-name" class="form-control" name="ItemName" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="user-id">User ID *</label>
                                <input required placeholder="Enter User ID *" id="user-id" class="form-control" name="UserID" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="item-description">Item Description *</label>
                                <input required placeholder="Enter Item Description *" id="item-description" class="form-control" name="ItemDescription" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="item-category">Item Category *</label>
                                <input required placeholder="Enter Item Category *" id="item-category" class="form-control" name="ItemCategory" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="type">Type *</label>
                                <select required id="type" class="form-control" name="Type">
                                    <option value="men">Men</option>
                                    <option value="women">Women</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="negotiable">Negotiable</label>
                                <input id="negotiable" class="form-control" name="Negotiable" type="checkbox">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="condition">Condition *</label>
                                <input required placeholder="Enter Condition *" id="condition" class="form-control" name="Condition" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="entry-date">Entry Date *</label>
                                <input required id="entry-date" class="form-control" name="EntryDate" type="date">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="location">Location *</label>
                                <input required placeholder="Enter Location *" id="location" class="form-control" name="Location" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="price">Price *</label>
                                <input required placeholder="Enter Price *" id="price" class="form-control" name="Price" type="text">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="ad-status">Ad Status *</label>
                                <select required id="ad-status" class="form-control" name="AdStatus">
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                            </div>

                            <div class="form-group col-md-12 mb-3">
                                <label for="note">Note</label>
                                <textarea id="note" placeholder="Note *"  class="form-control" name="Note" rows="3"></textarea>
                            </div>

                            <div class="col-md-12 mb-3">
                                <button type="submit" title="Submit Your Message!" class="btn btn-fill-out" id="submitButton" name="submit" value="Submit">Submit</button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div id="alert-msg" class="alert-msg text-center"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>