@model RentPe.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
    string blogtitle = "";
}

<style>
    .scroll {
        overflow-x: scroll;
        width: contain;
    }

    td {
        width: 200px;
    }

</style>
<h2>Dashboard - Welcome @Model.SignedInUser.Name</h2>
<hr />
<h2>Articles</h2>

<div class="row mb-3">
    <div class="col col-lg-12">
        <form method="post">
            <div class="input-group">
                <input type="text" name="searchterm" class="form-control" placeholder="Search." value="@Model.SearchTerm">
                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i> Search</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Dashboard", "Admin")"><i class="fas fa-redo-alt mr-1"></i> Reset</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">

    

</div>


<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });

</script>

