@model RentPe.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
}

<style>
    .scroll {
        overflow-x: scroll;
        width: contain;
    }

    td {
        width: 200px;
    }

</style>
<div class="container">
    <h2>Dashboard - Welcome @Model.SignedInUser.Name</h2>

</div>