@model RentPe.ViewModels.RoleListingViewModel
<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <h2>Roles</h2>
            <div class="input-group">
                    <button data-href="@Url.Action("Action", "Role")" class="data-btn btn btn-primary" type="button" data-toggle="modal" data-target="#actionModal"><i class="fa fa-plus mr-1"></i> Create</button>
                <a class="btn btn-primary" href="@Url.Action("Index", "Role")"><i class="fa fa-refresh"></i> </a>
            </div>

            

        </div>
        <div class="col-lg-4">
            <form>
                <div class="input-group-append">
                    <input type="text" name="searchterm" class="form-control" placeholder="Search." value="@Model.SearchTerm">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search mr-1"></i></button>

                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col col-lg-12">
            @{
                Html.RenderPartial("_Listing", Model);
            }
        </div>

    </div>

</div>
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>