@model RentPe.ViewModels.ItemCategoryListingViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
   
    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model != null && Model.ItemCategories != null)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ItemCategories)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.CategoryName</td>
                                    <td>
                                        <a href="@Url.Action("Action", "ItemCategory", new { ID = item.ID })" type="button" class="btn btn-outline-info btn-icon-text" ><i class="mdi mdi-pencil"></i> EDIT</a>
                                        <button data-href="@Url.Action("Delete", "ItemCategory", new { ID = item.ID })" type="button" class="data-btn btn btn-outline-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }
        else
        {
            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
    
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>



